launch-info {
    height: 350px;
    padding-left: 50px;
    padding-right: 50px;
    min-width: 20%;
    max-width: 25%;
}

#div-loader {
    min-height: 100vh; /* height of the browser viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }